# API Backend - CAMBIAR SEGÚN TU SETUP
VITE_API_BASE_URL=http://localhost:5000
# VITE_API_BASE_URL=http://localhost:7000
# VITE_API_BASE_URL=http://192.168.100.25:55692

# Tenant/Subdominio
VITE_TENANT=demo
